body {
  font-family: arial, sans-serif;
  background-color: #fffdef;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.icons {
  color: coral;
  font-size: 20px;
}
.icons:hover {
  color: mediumblue;
  font-size: 25px;
}

.day {
  color: black;
  cursor: pointer;
}

.today {
  color: blue;
  font-size: 80px;
  cursor: pointer;
}
.today:hover {
  color: coral;
}
.rounded-pill {
  font-size: 20px;
  background-color: #fff;
  padding: 35px 10px;
  margin: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: gray-300;
}
h1 {
  color: blue;
  font-size: 50px;
  padding: 20px 0;
  cursor: pointer;
}
h1:hover {
  color: coral;
}
.col {
  color: blue;
  padding: 20px 0 0 0;
  cursor: pointer;
}
.col:hover {
  color: coral;
}
.now {
  margin: 0px 0 100px 0;
}
.temperatureToday {
  color: coral;
  font-size: 50px;
  cursor: pointer;
}

#celcius:hover {
  color: blue;
}
#fahrenheit:hover {
  color: blue;
}

.now strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.temperatureToday .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.temperatureToday .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.temperatureToday .active:hover {
  text-decoration: none;
}
